.App {
  color: white;
}

.Header {
  display: flex;
  background: hsl(216, 53%, 9%);
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.Header img {
  padding: 20px 0;
  width: 70px;
  height: 30px;
}

.Header ul {
  display: flex;

}

.Header li {
  list-style-type: none;
  padding: 10px;
}

.Hero {
  text-align: center;
}

.Hero .HeroImg {
  background: hsl(217, 28%, 15%);
}

.Hero img {
  width: 80%;
  padding: 10%;
}

.Hero h1 {
  font-size: 2.0em;
  padding: 5%;
}

.Hero p {
  font-size: 1.0em;
  padding: 0 10% 5%;
}

.Hero button {
  background: hsl(198, 60%, 50%);
  padding: 10px 20%;
  border-radius: 40px;
  font-size: 1.1em;
  color: white;
}

.Hero .HeroHeader {
  background: url(./images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Services {
  text-align: center;
  padding: 50px 0;
}

.Services .items .item {
  padding: 20px 10%;
}

.Services .items .item img {
  width: 13%;
}

.Services .items .item h3 {
  font-size: 1.1em;
}

.Services .items .item p {
  font-size: 0.8em;
}

.Anony {
  padding: 50px 5%;
  text-align: center;
}

.Anony img {
  width: 80%;

}

.Anony p {
  color: hsl(0, 0%, 80%);
  text-align: left;
}

.Anony button {
  background: none;
  border: none;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding: 5px 0 5px 0;
  align-items: center;
  display: flex;
  text-align: left;
  gap: 10px;
}

.Profile {
  position: relative;
}

.Profile .quote {
  color: hsl(176, 68%, 64%);
  font-size: 1.5em;
  position: absolute;
  left: 10%;
  top: -20px;
}

.Profile .items .item {
  width: 60%;
  background: hsl(219, 30%, 18%);
  padding: 20px 10%;
  margin: 50px auto;
}

.Profile .items .item p {
  font-size: 0.8em;
}

.Profile .items .item .profile {
  display: flex;
  align-items: center;

}

.Profile .items .item .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.Profile .items .item .profile .about {
  padding-left: 5%;
}

.Profile .items .item p {
  color: hsl(0, 0%, 80%);
}

.Profile .items .item .profile .about p {
  font-size: 0.6em;
}

.Profile .items .item .profile h4,
.Profile .items .item .profile p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

footer {
  background: hsl(216, 53%, 9%);
  padding: 20px 5%;
  color: hsl(0, 0%, 80%);
}

footer .top {
  text-align: center;
  padding: 50px 5%;
}

footer .top form input {
  padding: 10px;
  width: 70%;
  font-size: 0.8em;
  border-radius: 50px;
}

footer .top form button {
  padding: 10px 15px;
  width: 70%;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 0.9em;
  margin-top: 20px;
  background: hsl(198, 60%, 50%);
}

footer .first img {
  padding-left: 10%;
}

footer .first .items {
  padding: 20px 0;
}

footer .first .items .item img {
  width: 20px;
  padding: 0;
}

footer .first .items .item {
  display: flex;
  align-items: baseline;
  gap: 20px;

}

footer .second {
  padding: 20px 0;
}

footer .third {
  padding: 0 0 40px 0;
}

footer .fas {
  text-align: center;
  padding: 20px 0 40px;
}

footer .fas .fa {
  padding: 10px;
}